/stocks
# /python-django/moduls
# /python-oop/moduls/
.DS_Store
*_tmp/
*_tmp.md
*_tmp.html
*_tmp.*
**/moduls/
notes.md
contents.md
template_request.md
/python-base/lesson-files.md
/python-base/lesson33_nopractice.md